{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="margin: 0;">
    <div style="width: 100%; height: 100px; background-color: orangered;">
        <h1 style="margin: 0; font-family: sans-serif; color: white; line-height: 100px;">Food Ordering System</h1>
    </div>
    <center>
    <img src="{%static 'images/sample2.jpg' %}" alt="image">
    </center>
 
</body>
</html>